body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fff5e6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc99;
    color: #663300;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    margin: 0;
}

.section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ffcc99;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product:hover { /*Esto es el zoom cuando se selecciona la imagen*/
    transform: scale(1.05);
}

.product img {
    max-width: 100%; /*Tama単o de la imagen*/
    height: auto;
    border-radius: 10px;
}

.nombre-producto {
    font-family: 'Bradley Hand'; /* Fuente decorativa */
    font-size: 1.8em; /* Tama単o de fuente */
    color: #d42284; /* Color */
    font-weight: normal; /* Texto en negrita */
}

.descripcion {
    text-align: justify;
    font-family: 'Bradley Hand'; /* Fuente decorativa */
    font-size: 0.9em; /* Tama単o de fuente */
    color: #200514; /* Color */
    font-weight: 400; /* Texto en negrita */
}
.precio {
    font-family: 'Bradley Hand'; /* Fuente decorativa */
    font-size: 1.5em; /* Tama単o de fuente */
    color: #0e8b0a; /* Color */
    font-weight: normal; /* Texto en negrita */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

header h1 {
    animation: bounce 2s infinite;
}

